

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px; /* Размер иконок */
  }